*{
  margin:0;
}
a{
  text-decoration: none;
}
.h{
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.l{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
    
}
.l:hover {
  text-decoration: underline;
}

form{
  display: flex;
  flex: 1;
}
form input{
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 5px;
  font-size: 16px;
}
form button{
  border: none;
  display: none;
}
input:focus{
  outline: none;
}
img{
  width: 236px;
  display: flex;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
  margin:10px;
}